/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.brand-logo img{
  height:70px !important;
}

li a{
  text-transform: uppercase;
  font-weight: bold;
  margin-right:10px;
}

.clients_image{
  display: flex;
  justify-content: center;
}

.clients_image img{
  padding: 2rem;
  height: 120px;
}

.main_footer{
  padding: 2rem;
  background-color:black;
  height: 60px;
  color: #efefef;
  font-size: 0.8rem;
}

.services_banner img{
  background-size: cover;
  background-position: center;
}
.services_banner{
  position: relative;
}
.text-block {
  position: absolute;
  top: 100px;
  left: 0px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.caption{
  position: absolute;
  top: 100px;
  left: 0px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

/* Blue */

.view_more{
  margin:12px 20px;
}

.btn_n {
  background-color: white;
  color: black;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.info {
  border-color: #0D47A1;
  color: #0D47A1
}

.info:hover {
  background-color: dodgerblue;
  color: #f1f1f1;
  
}

.p1{
  padding:30px 10px;
}